<div fxLayout="row" fxLayoutAlign="center center" class="container">
    <mat-card class="card">
        <h2>Forgot Password</h2>
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Dapatian</mat-card-title>
            <mat-card-subtitle>You get the password to your mail.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form formGroup="form" (ngSubmit)="forgotPassword()">
                <mat-form-field class="input" >
                    <input matInput placeholder="Email" type="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" maxlength="20" required>
                </mat-form-field>
                <mat-error *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)" >
                    <div *ngIf="form.get('email').errors.required">
                        Please, write any valid email.
                    </div>
                    <div *ngIf="form.get('email').errors.pattern">
                        Email valid plz!
                    </div>
                </mat-error>
                <div class="form-buttons">
                    <a routerLink="/signin" class="link">I remembered the account</a>
                    <button mat-raised-button color="primary" class="btn" (click)="forgotPassword()" type="submit">Send Password</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>