<div fxLayout="row" fxLayoutAlign="center center">
    <h1>{{'page.dashboard' | translate}}</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <h2>{{'page.info' | translate}}</h2>
        <mat-card-content>
            <h2>App Base Web Angular-Firebase-AccessAccount-Profile</h2>
            <a routerLink="/profile" mat-raised-button color="primary">{{'page.profile' | translate}}</a>
            <a mat-raised-button color="primary" href="https://github.com/venezia-dev/angular-firebase-access-account-profile" target="_black">Github</a>
        </mat-card-content>
    </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <h2>{{'page.chart' | translate}} 1 </h2>
        <mat-card-content>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, delectus in reprehenderit repellat doloremque quae quidem voluptas quis ut, nulla at tempore eveniet ipsa velit error, odio iste illo harum.</h3>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <h2>{{'page.chart' | translate}} 2 </h2>
        <mat-card-content>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, delectus in reprehenderit repellat doloremque quae quidem voluptas quis ut, nulla at tempore eveniet ipsa velit error, odio iste illo harum.</h3>
        </mat-card-content>
    </mat-card>
</div>