<h1 mat-dialog-title>{{'page.terms' | translate}}</h1>
<div mat-dialog-content>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio laboriosam repellendus, mollitia consectetur, dolores ut quasi cupiditate tenetur soluta officia neque saepe numquam eveniet corrupti debitis aliquam ipsam quam ea?</p>
</div>

<div class="dialog-footer">
    <button mat-raised-button color="accent" class="buttonF" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" type="submit" mat-dialog-close>Accept</button>
</div>
